.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 28px;
    margin: 0px;
    overflow: auto;
    height: 95%;
    background-color: rgba(192, 189, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .component {
    position: relative;
    width: 550px;
    margin: 5rem auto;
    padding: 1rem;
  
    box-shadow: 1px 1px 5px #454545;
    background-color: #FFFFFF;
    
    text-align: center;
    font-family: roboto;
    border-radius: 10px;
  }
  .credit-card{
    text-align: left;
  }
  
  .credit-card h2 {
    color: #371ba7;
    margin: 10px 0;
  }
  
  .component .credit-card form {
    display:flex;
    flex-direction: column;
  }
  
  .component .credit-card .line {
    display: flex;
  }
  
  .component .credit-card .line input {
    width: 20%; /* on définit une taille plus petite qu'il le faut, le flex-grow fera le reste */
    flex: 1;
    margin: 0.4rem 0.3rem;
  }
  
  input {
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      margin: 1rem 0;
      padding: 4px;
      font-size: 1rem;
      outline: none;
  }
  
  input::placeholder {
      color: #3d3d3d;
      font-size: 14px;
  }
  
  .valid-button {
      border: 0;
      padding: 1rem 2rem;
      background-color: rgb(71, 0, 148);
      color: #EFECCA;
      font-weight:bold;
      margin-top:2rem;
    box-shadow: 1px 1px 1px black;
  }
  
  .valid-button:hover {
    background-color: rgb(85, 0, 176);
    box-shadow: none;
  }
  .bill {
    margin-top: 10px;
}

.test,
.total {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.price span {
    float: right;
    font-weight: bold;
}
