@font-face {
    font-family: mainfont;
    src: url(/lABORA/public/fonts/AllertaStencil-Regular.ttf);
}
@font-face {
    font-family: regfont;
    src: url(/lABORA/public/fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/lABORA/public/fonts/Roboto-Regular.ttf);
}
*
{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: mainfont;
}
:root{
    --mainblue: #1A1B7F;
    --darkblue: #151666;
    --lightblue: #484999;
    --mainyellow: #D8D631;
    --darkyellow: #adab27;
    --lightyellow: #e0de5a;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}