.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 28px;
    margin: 0px;
    overflow: auto;
    height: 95%;
    height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

body{
    overflow: hidden;
}

.container_1 .boxset-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px 60px;
    border-radius: 10px;
    width: 700px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 100px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 1px 1px 3px rgb(226, 226, 226);
}

.container_1 .boxset-1 div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_1 .boxset-1 div img{
    border-radius: 50%;
}

.container_1 .boxset-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 60px;
    border-radius: 10px;
    width: 700px;
    padding-bottom: 60px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 1px 1px 3px rgb(226, 226, 226);
}

.container_1 .boxset-2 .input{
    margin-top: 20px;
    margin-top: 48px;
}
.container_1 .boxset-2 .input input{
    width: 100%;
    height: 35px;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.container_1 .boxset-2 .input input::placeholder{
    font-size: 16px;   
    font-family: roboto;
}
.container_1 .boxset-2 .input textarea{
    width: 100%;
    margin-top: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    font-family: roboto;
}
.container_1 .boxset-2 .input:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container_1 .boxset-2 .input a{
    
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #007a5a;
    color: #007a5a;
    font-weight: 700;
    background: #fff;
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    height: 36px;
    transition: all 80ms linear;
    text-decoration: none;
    margin-right: 10px;
    width: 120px;
    text-align: center;
    
}

.container_1 .boxset-2 .input a:hover{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(248,248,248,1);
}

.container_1 .boxset-2 .input button{
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    line-height: 1.2rem;
    font-weight: 900;
    background: #007a5a;
    padding: 8px 14px 9px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    height: 36px;
    transition: all 75ms ease-in-out;
    width: 120px; 
      
}

.container_1 .boxset-2 .input button:hover{
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}



/* override nev bar for keep white check */

.navigation ul li:nth-child(5)
{
    background-color: white;
}

.navigation ul li:nth-child(5) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(5) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(5) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(5) a .icon
{
    color: var(--darkblue);
}