app/controllers/Home.php
app/controllers/Employee.php
app/controllers/OTP.php
app/controllers/User.php
app/config/config.php
app/libraries/Controller.php
app/libraries/Core.php
app/libraries/Database.php
app/middleware/AuthMiddleware.php
public/css/employee.css
public/css/login.css
public/css/otpbox.css
public/css/signup.css
public/css/styles.css
public/.htaccess
app/helpers/PHPMailer-master
app/views/employee.php
app/views/Home.php
app/views/Login.php
app/views/OTP.php
app/views/Regfinish.php
app/views/Signup.php
app/views/components
public/css/employee.css
public/css/login.css
public/css/otpbox.css
public/css/regfinish.css
public/css/signup.css
public/css/styles.css
public/css/components
