# Ignore specific files
/app/config/config.php
/public/.htaccess

# Ignore directories
/app/helpers/PHPMailer-master
/app/views/components
/public/css/components

# Ignore specific files in directories
/public/css/employee.css
/public/css/login.css
/public/css/otpbox.css
/public/css/regfinish.css
/public/css/signup.css
/public/css/styles.css

# Ignore specific files with the same name in different directories
/app/views/Home.php
/app/views/Login.php
/app/views/OTP.php
/app/views/Regfinish.php
/app/views/Signup.php
/app/controllers/Home.php
/app/controllers/Employee.php
/app/controllers/OTP.php
/app/controllers/User.php
/app/libraries/Controller.php
/app/libraries/Core.php
/app/libraries/Database.php
/app/middleware/AuthMiddleware.php
