.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 10px;
    margin: 0px;
    height: 93%;
    overflow: auto;
    font-family: roboto;
}

.container_1 .boxset-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_1 .boxset-1 div{
    width: 250px;
    height: 170px;
    /*background-color: brown;*/
    border-radius: 14px;
    background-image: url('/LABORA/public/img/background.png');
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    color: white;
    text-align: center;
}

.container_1 .boxset-1 div span{
    font-size: 55px;
    color: var(--mainyellow);
}
.container_1 .boxset-1 div p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
}
.container_2{
    position: absolute;
    width: calc(100% - 325px);
    left: 300px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 330px;
    padding: 0px;
    margin: 0px 0 10px 10px;
    border-radius: 20px;
}

.container_2 .boxset-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_2 .boxset-2 div{
    flex-basis: 35%;
    min-height: 360px;
    background-color: rgba(228, 228, 228 , 0.1);
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
}
.container_2 .boxset-2 .message{
    flex-basis: 60%;
}

.container_2 .boxset-2 h1{
    text-align: center;
}


/* override nev bar for keep white check */

.navigation ul li:nth-child(1)
{
    background-color: white;
}

.navigation ul li:nth-child(1) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(1) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(1) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(1) a .icon
{
    color: var(--darkblue);
}


* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
position: absolute;
top:120px;
  margin: 0;
  padding: 10px 0px;
  background-color: #1abc9c;
  width: 694px;
}

.weekdays li {
  display: inline-block;
  width: 95px;
  color: #666;
  text-align: center;
  color: white;
}

.days {
    position: absolute;
    top:170px;
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 694px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* notification box */

.container_2 .boxset-2  div .notification-box{
    font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notification-box {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: left;
}

.notification-box h2 {
    font-size: 20px;
    margin: 0;
}

.notification-box p {
    font-size: 16px;
    margin: 10px 0;
}

.notification-box .timestamp {
    color: #888;
}