.table-container .action-button {
    padding: 9px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 5px 5px;
    min-width: 100px;
  }

.table-container .action-button:hover {
    background-color: #0d8e29;
}

.table-container .action-button-delete {
    padding: 9px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 5px 5px;
    min-width: 100px;
  }

.table-container .action-button-delete:hover {
    background-color: #A90E00;
}


.table-container .action-button-edit {
    padding: 9px 20px;
    background-color: #E1BA10;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 5px 5px;
    min-width: 100px;
  }

.table-container .action-button-edit:hover {
    background-color: #cf9c05 ;
}

.table-container .action-button-approve {
    padding: 9px 20px;
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 5px 5px;
    min-width: 100px;
  }

.table-container .action-button-approve:hover {
    background-color: #9c27b0 ;
}


  .btn-6 {
    background-color: #9244ff;
    color: #fff;
    }

  .btn-6:hover {
      background-color: #6f42c1;
      }


      th {
        justify-content: center;
       
        max-width: 100px; /* Adjust the value as needed */
      }
    