@font-face {
    font-family: mainfont;
    src: url(/lABORA/public/fonts/AllertaStencil-Regular.ttf);
}
@font-face {
    font-family: regfont;
    src: url(/lABORA/public/fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/lABORA/public/fonts/Roboto-Regular.ttf);
}
*
{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: mainfont;
}
:root{
    --mainblue: #1A1B7F;
    --darkblue: #151666;
    --lightblue: #484999;
    --mainyellow: #D8D631;
    --darkyellow: #adab27;
    --lightyellow: #e0de5a;
}

body
{
    min-height: 100vh;
    overflow-x: scroll;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    background-image: url('/LABORA/public/img/background.png');
    position: fixed;
    width: 300px;
    height: 100%;
    /* background-color: var(--darkblue); */
    transition: 0.5s;
}
.logooo{
    display: flex;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 40px;
    height: 60px;
}
.logooo img{
    object-fit: cover;
    width: 40px;
    height: auto;
    margin:5px 20px;
}
.logooo h2{
    margin-top: 15px;
    margin-left: 5px;
    font-family: mainfont;
    color: var(--lightyellow);
    font-size: 20px;
}
.navigation ul
{
    margin-left: 40px;
    margin-top: 150px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.navigation ul li
{
    height: 50px;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    list-style: none;
    margin-right: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.navigation ul li:hover
{
    background-color: white;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 88%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover a
{
    color: var(--darkblue);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 40px;
    line-height:  65px;
    margin-left: 20px;
    
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.50em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    height: 50px;
    margin-left: -20px;
    line-break: 60px;
    text-align: center;
    white-space: nowrap;
    line-height:  50px;
}

.navigation ul li:hover a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:hover a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.logout a{
    position: absolute;
    top:580px;
    left:65px;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    background-color: #adab27;
    width: 130px;
    padding: 4px 12px;
    border-radius: 64px;
    text-decoration: none;
    text-align: center;
    color:black;
}
.button{
    font-family: roboto;
    width: 150px;
}
.button:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate(1px, 1px);
    transition-duration: 250ms;
    font-family: roboto;
}
.logout a .icon{
    font-size: 1.5em;
    display: inline-block;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

.logout a span{
    margin-top: 10px;
    display: inline-block;
    margin-top: 8px;
}


/* Top bar */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    max-height: 30vh;
    background: white;
    /* background-image: url('/LABORA/public/img/background.png'); */
    transition: 0.5s;
}

.topbar
{
    background-color: var(--mainblue);
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: 10px 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.toggle
{
    color:white;
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.toggle:hover{
   color: black;
}
.user
{
    text-align: center;
    justify-content: center;
}
.user img
{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    top: 18px;
    right: 32px;
}
.user h4{
    font-family: mainfont;
    color:white;
    font-weight: 100;
    position: absolute;
    top: 26px;
    right: 80px;
}
.chat{
    position: absolute;
    right:300px;
    font-size: 1.5em;
    color: var(--mainyellow);
    cursor: pointer;
    margin-left: 400px;
    margin-top: 8px
}
.notification{
    position: absolute;
    right:340px;
    margin-left: -280px;
    margin-top: 8px;
    font-size: 1.5em;
    color: var(--mainyellow);
    cursor: pointer;
}



table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    color: var(--darkblue);
    text-align: center;
    justify-content: center;
}

thead tr {
    background-color: var(--darkblue);
    color: #ffffff;
    text-align: left;
    text-align: center;
    justify-content: center;
}

th, td {
    padding: 8px 10px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr:hover {
    color: white;
    background-color: #3D30A2;
}

/* Responsive Table Styles */
@media (max-width: 767px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    thead {
        display: none;
    }

    tbody tr {
        display: table-row;
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }

    tbody td {
        display: table-cell;
        text-align: left;
        padding: 8px;
    }

    tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 120px;
    }
}
/* 
dashboard */

/* dashboard.css */
.dashboard-container {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .date-range input[type="date"] {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 30%;
  }
  
  .card-icon {
    font-size: 36px;
    margin-right: 20px;
    color: #007bff;
  }
  
  .card-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card-content p {
    font-size: 24px;
    font-weight: bold;
  }
  
  .chart-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .chart-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    width: 49%;
  }
  
  .chart-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .table-section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
  }
  
  .table-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    background-color: #f8f9fa;
  }