.error-message-container {
    position: fixed;
    top: 13%;
    right: -350px; /* Start off-screen */
    background-color: #FF3333;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    display: flex;
    align-items: center;
    width: 350px;
    font-family: roboto;
  }

  .error-message-container p {
    margin: 0;
    flex-grow: 1;
  }

  .error-message-container .close-button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
  }

  .success-message-container {
    position: fixed;
    top: 13%;
    right: -350px; /* Start off-screen */
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    display: flex;
    align-items: center;
    width: 350px;
    font-family: roboto;
  }

  .success-message-container p {
    margin: 0;
    flex-grow: 1;
  }

  .success-message-container .close-button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
  }

  .show-message {
    right: 50px; /* Bring message into view */
  }