/* table style */

.table-container {
    min-width: 900px;
    margin: 5px 0px;
    background-color: rgba(192, 189, 255, 0.1);
    padding: 10px 50px;
    color: #0e0e0e;
    min-height: 95%;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .table-container th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }

  .table-container th {
    background-color: #1e0e58;
    color: #fff;
  }

  .table-container tr:hover {
    background-color: #f5f5f5;
  }

  .table-container .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  

  .table-container .pagination button {
    background-color: #1e0e58;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: roboto;

  }

  .table-container .pagination button:hover {
    background-color: #321795;
  }

  .table-container .search-container {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .table-container .filter-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-right: 8px;
  }

  .table-container .search-box{
      padding: 10px;
      border: none;
      outline: none;
      font-size: 14px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-grow: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .table-container .filter-box {
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    flex-grow: 1;

  }

  .table-container .search-button{
      width: 30%;
      height: 36.7px;
      padding: 10px;
      background-color: #1e0e58;
      color: #fff;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      font-family: roboto;
  }

  .table-container .filter-button {
    min-width: 80px;
    padding: 10px;
    padding-left: 15px ;
    padding-right: 15px;
    background-color: #1e0e58;
    color: #fff;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: roboto;
  }
  .table-container .search-button:hover , .filter-button:hover{
      background-color: #321795;
  }

  .table-container .filter-box{
      display: flex;
      flex-wrap: wrap;
      padding:10px;
      background-color: transparent;
  }

  .table-container .action-button {
    padding: 7px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .table-container .action-button:hover {
    background-color: #218838;
  }

  .table-container .status-cell {
    position: relative;
  }

  .table-container .status-indicator {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .table-container .status-indicator.pending {
    background-color: #ffc107; /* Yellow */
  }

  .table-container .status-indicator.approved {
    background-color: #28a745; /* Green */
  }

  .table-container .status-indicator.rejected {
    background-color: #dc3545; /* Red */
  }
  .table-container h2 {
    margin: 20px 0;
    color: white;
    background-color: #1e0e58;
    padding: 10px;
    border-radius: 10px;
  }
  .table-container h2 i{
    padding: 4px;
    margin-right: 8px;
  }

  .container_1 h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: roboto;
    color: rgb(68, 68, 68);
    margin-right: 67%;
}


/* add section styles */

/* Style the container div */
.add {
  display: flex;
  align-items: center;
  background-color: #1e0e58;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
}

.add {
  margin-bottom: 20px;
  text-align: center;
}

.add a {
  text-decoration: none;
  color: white;
}

.addbtn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #371ba7;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #371ba7;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.addbtn:hover {
  background-color: #321795;
  border-color: #321795;
}

/* empty message */

.table-container .empty_msg {
	text-align: center;
	color: #707070;
	font-size: 18px;
	/* font-family: mainfont; */
}