.warning-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.warning-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  margin-top: 140px;
  font-family: roboto;
}

.warning-modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -10px;
}

.warning-modal-content .close:hover {
  color: black;
}

.warning-modal-content .btn-container {
  margin-top: 20px;
}

.warning-modal-content button {
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.warning-modal-content #yesBtn {
  background-color: #dc3545;
  color: white;
}

.warning-modal-content #yesBtn:hover {
  background-color: #c82333;
}

.warning-modal-content #noBtn {
  background-color: #007bff;
  color: white;
}

.warning-modal-content #noBtn:hover {
  background-color: #0056b3;
}


/* for second warning modal */

.warning-modal-content .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
  }
  
  .warning-modal-content .close2:hover {
    color: black;
  }

.warning-modal-content #yesBtn2 {
  background-color: #dc3545;
  color: white;
}

.warning-modal-content #yesBtn2:hover {
  background-color: #c82333;
}

.warning-modal-content #noBtn2 {
  background-color: #007bff;
  color: white;
}

.warning-modal-content #noBtn2:hover {
  background-color: #0056b3;
}






.warning-modal-content .yesBtn {
  background-color: #dc3545;
  color: white;
}

.warning-modal-content #yesBtn:hover {
  background-color: #c82333;
}

.warning-modal-content .noBtn {
  background-color: #007bff;
  color: white;
}

.warning-modal-content .noBtn:hover {
  background-color: #0056b3;
}
