<ifModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine on
    RewriteBase /LABORA/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSL,L]
</ifModule>