.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: #f0f0f0;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 10px;
    margin: 0px;
    height: 93%;
    overflow: auto;
    font-family: roboto;
}


.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 825px;
    width: 100%;
    margin : 20px auto;
  }
  
  .form-container h2 {
    text-align: center; 
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-container p {
    text-align: center;
    margin-bottom: 25px;
    color: #666;
  }
  
  .form-container .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-container .form-row .form-group {
    width: calc(50% - 10px);
  }
  
  .form-container .form-group {
    margin-bottom: 20px;
  }
  
  .form-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  .form-container .form-group select,
  .form-container .form-group input,
  .form-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form-container .form-group select:focus,
  .form-container .form-group input:focus,
  .form-container .form-group textarea:focus {
    border-color: #007bff;
  }
  
  .form-container .form-group select {
    height: 40px;
  }
  
  .form-container .form-group textarea {
    height: 100px;
  }
  
  .form-container .form-group button {
    background-color: #513aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .form-container .form-group button:hover {
    background-color: #4819ff;
  }