.container_1
{
    position: fixed;
    width: calc(100% - 350px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 28px;
    margin: 0px;
    overflow: auto;
    height: 95%;
    display: flex;
    flex-direction: column;
    background-color: #e9ecff75;
    font-family: roboto;
}

body{
  overflow: hidden;
}
.container_1 .boxset_1{
  
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 350px;
  margin-top: 16px;
  padding: 0 20px;
}

.container_1 .boxset_1 .box {
	display: flex;
	width: 504px;
	height: 159px;
	font-family: roboto;
	padding: 18px;
	border: 2px solid #7570ff;
	border-radius: 16px;
	background-color: white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  margin:10px 0;
}

.container_1 .boxset_1 .box .text h5 {
	font-size: 14px;
	font-weight: bold;
	color: rgba(24, 11, 76, 0.8);
	margin-top: 4px;
	width: 250px;
	justify-content: left;
}
.container_1 .boxset_1 .box .text h1{
    margin:14px 0;
    font-family: mainfont;
}
.container_1 .boxset_1 .box .text p {
	font-size: 14px;
	color: #000000ab;
}

.container_1 .boxset_1 .icon i {
	background: #99a0ff8f;
	padding: 16px;
	border-radius: 16px;
	font-size: 24px;
	color: #4d1ff4;
	width: 55px;
	height: 55px;
	text-align: center;
}

.container_1 .boxset_2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 0 7px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
  min-height: 500px;
}

.container_1 .boxset_2 .bigbox_1{
  width: 55%;
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: hidden;
  background-color: white;
  padding: 24px;
  font-family: roboto;
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  padding-top: 0;
  color: #2e1699;
}
.container_1 .boxset_2 .bigbox_1 .boxes{
  overflow: scroll;
}
.container_1 .boxset_2 .bigbox_1 h3{
  margin-left: 10px;
  color: #2e1699;
}
.container_1 .boxset_2 .bigbox_1 .title{
  margin-bottom: 30px;
  height: 80px;
  width: 49%;
  background-color: white;
  margin: 0;
  padding-top: 30px;
}
.container_1 .boxset_2 .bigbox_1 .sub_title{
  color: rgba(13, 6, 40,0.6);
  margin:5px 0;
  margin-left: 10px;
  font-size: 14px;
}
.container_1 .boxset_2 .bigbox_1 .test_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 10px;
	border-radius: 10px;
	background-color: #f0f0f0;
	margin: 10px;
	border: 1px solid #e1e1e1;
}

.container_1 .boxset_2 .bigbox_1 .test_box:hover{
  background-color: #eaeaea;
}
.container_1 .boxset_2 .bigbox_1 .test_box .tbox span{
  font-size: 14px;
  color: rgb(87, 87, 87);
} 
.container_1 .boxset_2 .bigbox_1 .test_box .tbox{
  text-align: center;
  
}

.container_1 .boxset_2 .bigbox_1 .test_box .tbox_2{
  position: absolute;
  left: 424px;
}

.container_1 .boxset_2 .bigbox_1 .test_box .tbox_1 h4 i{
  background-color: rgba(128, 0, 255,0.2);
  padding: 10px;
  border-radius: 10px;
}

.container_1 .boxset_2 .bigbox_2{
  width: 30%;
  height: 80%;
  padding: 24px;
  font-family: roboto;
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Credits */
.credits a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #aaa;
}
.credits span {
  color: var(--primary-color);
}

/* override nev bar for keep white check */

.navigation ul li:nth-child(1)
{
    background-color: white;
}

.navigation ul li:nth-child(1) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(1) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(1) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(1) a .icon
{
    color: var(--darkblue);
} */









/* responsive */

 /* @media (max-width: 800px) {
  .container_1 .boxset_1 {
    height: 110%;
  }

  .container_1 .boxset_1 .box{
    margin-top:8px;
  }
}  */

/* new dashboard */


.dashboard-container {
  padding: 20px;

}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(to right, #13155D, #1F2199);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-range input[type="date"] {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #DCDCF9;
  border-radius: 4px;
  margin-left: 10px;
  background-color: #fff;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 36px;
  margin-right: 20px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #13155D;
}

.card-content p {
  font-size: 24px;
  font-weight: bold;
  color: #1F2199;
}

.chart-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 49%;
}

.chart-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #13155D;
  text-align: center;
}

.table-section {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.table-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #13155D;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #DCDCF9;
}

th {
  background-color: #1F2199;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-cards {
    flex-wrap: wrap;
  }

  .card {
    width: 48%;
    margin-bottom: 20px;
  }

  .chart-section {
    flex-wrap: wrap;
  }

  .chart-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.top-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #333;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.card-content p {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

/* Card Colors */
.card:nth-child(1) .card-icon {
  background-color: #f9e79f;
  color: #d68910;
}

.card:nth-child(2) .card-icon {
  background-color: #a7ffeb;
  color: #17a589;
}

.card:nth-child(3) .card-icon {
  background-color: #ffcdd2;
  color: #e53935;
}

.urgent-actions {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.urgent-actions h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.action-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff3cd;
  border-left: 4px solid #ffc107;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.urgent-actions:nth-child(1) .action-item {
  background-color: #fff3cd;
  border-left: 6px solid #ffc107;
}

.urgent-actions:nth-child(2) .action-item {
  background-color: #cdffd6;
  border-left: 6px solid #30ff07;
}



.action-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-icon {
  font-size: 24px;
  color: #ffc107;
  margin-right: 15px;
}

.urgent-actions:nth-child(1) .action-icon  {
 
  color:#ffc107;
}

.urgent-actions:nth-child(2) .action-icon {
 
  color:  #30ff07;
}

.action-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.action-content p {
  font-size: 16px;
  color: #555;
}

.urgent-actions {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  width: 50%; /* Set the width to 50% */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.urgent-actions h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.action-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff3cd;
  border-left: 8px solid #ffc107;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.action-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-icon {
  font-size: 44px;
  color: #ffc107;
  margin-right: 35px;
  margin-left: 15px;
}

.action-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.action-content p {
  font-size: 20px;
  color: #555;
}

.dashboard-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 280px;
}

.urgent-actions {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 49%;
  box-sizing: border-box;
  height: 100%;
}

.invoice-details {
  display: flex;
  justify-content: space-between;
  width: 49%;
  box-sizing: border-box;
}

.invoice-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  width: 48%;
}

.invoice-icon {
  font-size: 36px;
  color: #ffc107;
  margin-right: 15px;
}

.invoice-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.invoice-content p {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

/* Existing styles for .urgent-actions, .action-item, .action-icon, .action-content */


/* Charts */

#multipleBarChart {
  width: 800px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}