.container_1
{
    position: absolute;
    width: calc(100% - 325px);
    left: 300px;
    background: rgba(201, 194, 194, 0.1);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 116px;
    padding: 0px;
    margin: 0px 0 10px 10px;
    border-radius: 20px;
}






/* override nev bar for keep white check */

.navigation ul li:nth-child(5)
{
    background-color: white;
}

.navigation ul li:nth-child(5) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(5) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(5) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(5) a .icon
{
    color: var(--darkblue);
}