.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 10px;
    margin: 0px;
    height: 93%;
    overflow: auto;
    font-family: roboto;
}

.container_1 .boxset-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_1 .boxset-1 div{
    width: 350px;
    height: 170px;
    background-color: brown;
    border-radius: 14px;
    background-image: url('/LABORA/public/img/background.png');
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    color: white;
    text-align: center;
}

.container_1 .boxset-1 div span{
    font-size: 55px;
    color: var(--mainyellow);
}
.container_1 .boxset-1 div p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);;
}
.container_2{
    position: absolute;
    width: calc(100% - 325px);
    left: 300px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 330px;
    padding: 0px;
    margin: 0px 0 10px 10px;
    border-radius: 20px;
}

.container_2 .boxset-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_2 .boxset-2 div{
    flex-basis: 35%;
    min-height: 360px;
    background-color: rgba(228, 228, 228 , 0.1);
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
}
.container_2 .boxset-2 .message{
    flex-basis: 60%;
}






/* override nev bar for keep white check */

.navigation ul li:nth-child(1)
{
    background-color: white;
}

.navigation ul li:nth-child(1) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(1) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(1) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(1) a .icon
{
    color: var(--darkblue);
}

