@font-face {
    font-family: mainfont;
    src: url(../fonts/AllertaStencil-Regular.ttf);
}
@font-face {
    font-family: regfont;
    src: url(../fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: #f5f7ff;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 10px;
    margin: 0px;
    height: 93%;
    overflow: auto;
    font-family: roboto;
    font-family: 'Roboto', sans-serif;
}

  
.container_1 .container {
	background-color: #FFFFFF;
	padding: 25px 40px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	width: 847px;
	text-align: center;
	margin: 70px auto;
}

.container_1 h2 {
	color: #0d0628;
	font-size: 28px;
	margin-bottom: -11px;
	width: 100%;
	background-color: #392b84;
	padding: 12px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}

.container_1 .subtitle {
	color: #727272;
	font-size: 13px;
	margin: 20px 0 26px 0;
	font-weight: 530;
}

  .container_1 .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .container_1 .form-group {
    flex: 1;
    margin-right: 20px;
    text-align: left;
  }

  .container_1 label {
	display: block;
	margin-bottom: 0px;
	color: black;
	/* font-weight: bold; */
	font-weight: 570;
	font-size: 14px;
}

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #392b84;
    border-radius: 5px;
    background-color: #F2F5F8;
    color: #333333;
    margin-top: 5px;
    box-sizing: border-box;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  .container_1 button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5133cf;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-size: 16px;
  }

  .container_1 button:hover {
    background-color: #5f41ea;
  }