.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 10px;
    margin: 0px;
    height: 93%;
    overflow: auto;
    font-family: roboto;
}

.container_1 .boxset-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 60px;
    margin-left: 150px;
    border-radius: 10px;
    width: 800px;
}

.container_1 .boxset-1 div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_1 .boxset-1 div img{
    border-radius: 50%;
}

.container_1 .boxset-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    width: 800px;
    margin-left: 150px;
    padding-bottom: 60px;
}

.container_1 .boxset-2 .input{
    margin-top: 20px;
    margin-top: 48px;
}
.container_1 .boxset-2 .input input{
    width: 100%;
    height: 35px;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.container_1 .boxset-2 .input input::placeholder{
    font-size: 16px;   
    font-family: roboto;
}
.container_1 .boxset-2 .input textarea{
    width: 100%;
    margin-top: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    font-family: roboto;
}
.container_1 .boxset-2 .input:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}






/* override nev bar for keep white check */

.navigation ul li:nth-child(5)
{
    background-color: white;
}

.navigation ul li:nth-child(5) a .title
{
    color: var(--darkblue);
}

.navigation ul li:nth-child(5) a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:nth-child(5) a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}

.navigation ul li:nth-child(5) a .icon
{
    color: var(--darkblue);
}